APP_ENV=dev
APP_KEY=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://www.covision.com

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=ots_test
DB_USERNAME=root
DB_PASSWORD=111111

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
SESSION_DRIVER=redis
QUEUE_DRIVER=redis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mxhichina.com
MAIL_PORT=25
MAIL_USERNAME=service@ccsec.cn
MAIL_PASSWORD=!QAZ2wsx
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=service@ccsec.cn
MAIL_FROM_NAME=国卫信安

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=

UCENTER_URL=/api/ucapi
UCENTER_API=http://localhost
UCENTER_CONNECT=mysql
UCENTER_DBHOST=localhost
UCENTER_DBUSER=root
UCENTER_DBPW=null
UCENTER_DBNAME=ucenter
UCENTER_DBCHARSET=utf8
UCENTER_DBTABLEPRE=uc_
UCENTER_KEY=6bc3bbKaoWnVrb26juVvk4uq4c2a5SNQvzv70Zs
UCENTER_CHARSET=utf-8
UCENTER_IP=127.0.0.1
UCENTER_APPID=1
UCENTER_PPP=20

API_KNOWLEDGE_BASE_URI=http://172.17.98.13/api/
API_KNOWLEDGE_EMAIL=testsystem@ccsec.cn
API_KNOWLEDGE_PASSWORD=kh2zLuoK
API_EXAM_BASE_URI=http://172.17.98.12/zlms/api/
ADMIN_EMAIL=gang.wu@istuary.com
ES_HOSTS=["elasticsearch:9200"]
OBSERVE_FLAG=true