APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://www.covision.com

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=ots_test
DB_USERNAME=root
DB_PASSWORD=111111

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
SESSION_DRIVER=redis
QUEUE_DRIVER=redis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mxhichina.com
MAIL_PORT=25
MAIL_USERNAME=service@ccsec.cn
MAIL_PASSWORD=!QAZ2wsx
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=service@ccsec.cn
MAIL_FROM_NAME=国卫信安

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=

UCENTER_URL=/api/ucapi
UCENTER_API=http://ucenter.ccsec.cn
UCENTER_CONNECT=mysql
UCENTER_DBHOST=ucenter.ccsec.cn
UCENTER_DBUSER=root
UCENTER_DBPW=root
UCENTER_DBNAME=ucenter
UCENTER_DBCHARSET=utf8
UCENTER_DBTABLEPRE=uc_
UCENTER_KEY=istuary
UCENTER_CHARSET=utf-8
UCENTER_IP=172.17.98.12
UCENTER_APPID=5
UCENTER_PPP=20
UCENTER_ENABLED=true

#知识系统
API_KNOWLEDGE_BASE_URI=http://tas-km.ccsec.cn/api/
API_KNOWLEDGE_EMAIL=testsystem@ccsec.cn
API_KNOWLEDGE_PASSWORD=kh2zLuoK

#考试系统
API_EXAM_BASE_URI=http://exam.ccsec.cn/zlms/api/
#API_PROXY=http://192.168.28.214:8118
#API_SECERECT_KEY=!Ots@963#$

SOCKET_PORT=5300
SOCKET_HTTP_HOST=www.covision.com
SOCKET_ADDRESS=0.0.0.0
SOCKET_PUBLIC_PORT=443

HOT_STANDARD_QUANTITY=10
CHECK_RESULT_INTERVAL=30
ADMIN_EMAIL=gang.wu@istuary.com
ES_HOSTS=["elasticsearch:9200"]
OBSERVE_FLAG=true