
[client]
port= 3306
socket= /var/run/mysqld/mysqld.sock

[mysqld_safe]
socket= /var/run/mysqld/mysqld.sock
nice= 0

[mysqld]
user= root
port= 3306
datadir= /data/mysql
log-bin= /data/mysql/mysql-bin
pid-file= /var/run/mysqld/mysqld.pid
socket= /var/run/mysqld/mysqld.sock
bind-address= 0.0.0.0
innodb_file_per_table= 1
max_allowed_packet= 16M
thread_stack= 192K
thread_cache_size= 8
query_cache_limit= 32M
query_cache_size= 256M
expire_logs_days= 10
max_binlog_size= 100M
